{% extends "qa/layout.html" %}

{% block title %}Ask question{% endblock %}

{% block content %}
<div class="answer_form">
  {% for e in form.non_field_errors %}
    <div class="error">{{ e }}</div>
  {% endfor %}
  <form class="form-common" method="post" action="/ask/">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
      <div class="form__field {% if field.errors %}form__field--error{% endif %}">
        <label class="field__label">
          {{ field.label }}
          <div class="field__controls">{{ field }}</div>
        </label>
        {{ field.errors }}
      </div>
    {% endfor %}
    <button type="submit" class="form__button">Ask</button>
  </form>
</div>
{% endblock %}
