{% extends "qa/layout.html" %}

{% block title %}Latest questions{% endblock %}

{% block content %}
<div class="questions-list">
{% for q in questions %}
  <div class="question-item">  
    <div class="question__title">
      <a href="{{ q.get_url }}" class="question__link">
        {{ q }}
      </a>
    </div>
  </div>
{% endfor %}
</div>

<div class="bottom">
  <ul class="pagination">
  {% for p in paginator.page_range %}
    {% if p == page.number %}
    <li class = "pagination-item pagination-item--active">
    {% else %}
    <li class = "pagination-item">
    {% endif %}
      <a href="{{ page.baseurl }}{{p}}">{{p}}</a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
