<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}QA Application{% endblock %}</title>
</head>
<body>
  <div class="header">
    {% block header %}
      <nav class="header-nav">
        <ul class="main-nav">
          <li class="main-nav__item"><a href="/">Home - Latest questions</a></li>
          <li class="main-nav__item"><a href="/popular">Popular Questions</a></li>
          <li class="main-nav__item"><a href="/ask">Ask</a></li>
          <li class="main-nav__item"><a href="/users">Users</a></li>
          <li class="main-nav__item"><a href="/signup">Signup</a></li>
          <li class="main-nav__item"><a href="/login">Login</a></li>
        </ul>
      </nav>
    {% endblock %}
  </div>  
  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
