{% extends "qa/layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login_form">
  {% if error %}
    <div class="error">{{ error }}</div>
  {% endif %}
  {% for e in form.non_field_errors %}
    <div class="error">{{ e }}</div>
  {% endfor %}
  <form class="form-common" method="post" action="/login/">
    {% csrf_token %}
    {% for field in form %}
      <div class="form__field {% if field.errors %}form__field--error{% endif %}">
        <label class="field__label">
          {{ field.label }}
          <div class="field__controls">{{ field }}</div>
        </label>
        {{ field.errors }}
      </div>
    {% endfor %}
    <button type="submit" class="form__button">Login</button>
  </form>
</div>
{% endblock %}
