{% extends "qa/layout.html" %}

{% block title %}Question {{ question.id }}{% endblock %}

{% block content %}
<div class="question-block">
  <h1 class="question__title">{{ question.title }}</h1>
  {% if question.author %}
  <h3 class="question__author">by {{ question.author }}</h3>
  {% endif %}
  <p class="quiestion__text">{{ question.text }}</p>
  <div class="question__answers">
    {% for answer in answers %}
    <div class="answer">
      <div class="answer__text">{{ answer }}</div>
      <div class="answer__author">by {{ answer.author }}</div>
    </div>
    {% endfor %}
  </div>
  <div class="question_actions">
    <div class="answer_form">
      {% for e in form.non_field_errors %}
        <div class="error">{{ e }}</div>
      {% endfor %}
      <form class="form-common" method="post" action="/question/{{ question.id }}/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
          <div class="form__field {% if field.errors %}form__field--error{% endif %}">
            <label class="field__label">
              {{ field.label }}
              <div class="field__controls">{{ field }}</div>
            </label>
            {{ field.errors }}
          </div>
        {% endfor %}
        <button type="submit" class="form__button">Answer</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
